*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

.video-link{
    color: rgb(48, 43, 43);
    text-decoration:dashed;
}

.d-flex{
    font-family: "Bebas Neue", sans-serif;
}
#navbarNav{
    display: flex;
    justify-content: center;
    background-color: #9bc9ef;
    font-family: "Bebas Neue", sans-serif;
}
.container{
    padding-left: 0;
    margin-left: 0;   
    max-width: fit-content;
}
.container-fluid1{
    height: 56px;
    clear: both;
    background-color: #9bc9ef;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
.nav-link{
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
}


.carouselExampleControls{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

.footer{
    background-color: rgb(45, 67, 210);
    padding-left: 300px;
    padding-right: 300px;
}

.about-title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.about-explanation{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 50px;
}
.about-explanation strong{
    font-size: 18px;
    padding-bottom: 10px;
}

.card-img-top{
    width: 50%;
    height: 50%;
}
.card{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Bebas Neue", sans-serif;
}
.card img{
    width: 30%;
}
.card-body{
    text-align: center;
}
.card-title{
    display: flex;
    justify-content: center;
}    


.starting_pic{
    float: left;
}

.starting_pic ul{
    list-style-type: none;
}

.starting_pic li{
    height: 100%;
}