*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

button.btn.btn-primary{
    position: fixed;
    font-family: "Bebas Neue", sans-serif;
    background-color: rgb(56, 134, 224);
    border-radius: 5px;
    top: 550px;
    margin-left: 95%;
    z-index: 1;
    border: 2px solid black;
}
h5#offcanvasWithBackdropLabel{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.video-link{
    color: rgb(48, 43, 43);
    text-decoration: dashed;
}

.d-flex{
    font-family: "Bebas Neue", sans-serif;
}
#navbarNav{
    display: flex;
    justify-content: center;
    background-color: #9bc9ef;
    font-family: "Bebas Neue", sans-serif;
}
.container{
    padding-left: 0;
    margin-left: 0;   
    max-width: fit-content;
}
.container-fluid1{
    height: 56px;
    clear: both;
    background-color: #9bc9ef;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
.nav-link{
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
}


.carouselExampleControls{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

.below_pic{
    background-color: rgb(198, 190, 190);
    padding-left: 135px;
    padding-right: 135px;
}

#shop-online, #contact-title{
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.card-img-top{
    width: 50%;
    height: 50%;
    padding-top: 20px;
}
.card{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Bebas Neue", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 350px;
}
.card img{
    width: 30%;
}
.card-body{
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}
.card-title{
    display: flex;
    justify-content: center;
}

.footer{
    background-color: rgb(27, 40, 122);
    padding-left: auto ;
    padding-right:auto;
    width: 60%;
}

.footer-text{
    text-align: center;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.contact-whole{
    background-color: lightblue;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.contact{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
}
.contact-icons{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;  
}
.contact-icon-pic a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid rgb(24, 24, 201);
    border-radius: 50%;
    font-size: 24px;
    background: transparent;
    text-decoration: none;
}

/* About page */
.about-title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.about-explanation{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 50px;
}
.about-explanation strong{
    font-size: 18px;
    padding-bottom: 10px;
}

/* Item Page */
#carouselExampleInterval{
    width: 30%;
    height: 100%;
    padding-left: 30px;
    float: left;
}

#carouselExampleInterval{
    padding-top: 10px;
}
.card-body{
    padding-top: 10px;
}
.item-discription{
    padding-left: 20px;
    padding-right: 20px;
    width: 44%;
    height: 100%;
    float: left;
    line-height: 30px;
}

a.btn.btn-primary{
    border-radius: 20px;
}

.item-discription{
    padding-top: 10px;
}
.item-discription h3{
    font-size: 16px;
    font-weight: bold;
}
.item-discription .address-return{
    text-align: center;
}

.item-discription .map-return{
    width: 90%;
    height: 90%;
    padding-left: 40px;
    margin-bottom: 20px;
}

/* shopping cart */
.cart-img{
    padding-left: 20px;
    float: left;
    margin-left: 300px;

}
.card.text-center{
    box-shadow: none;
}